src/main/resources/itemSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:yahoo:jp:itemSearch" elementFormDefault="qualified">
  <xsd:element name="ResultSet">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Request">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Query" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Modules">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PriceRanges">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Range">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Low" type="xsd:string"/>
                                <xsd:element name="High" type="xsd:string"/>
                                <xsd:element name="Hits" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Subcategories">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Path">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Category">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Id" type="xsd:string"/>
                                      <xsd:element name="Name" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Children">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Child">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Id" type="xsd:string"/>
                                      <xsd:element name="Name" type="xsd:string"/>
                                      <xsd:element name="Hits" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Hit" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string"/>
                    <xsd:element name="Headline" type="xsd:string"/>
                    <xsd:element name="Url" type="xsd:string"/>
                    <xsd:element name="Availability" type="xsd:string"/>
                    <xsd:element name="Code" type="xsd:string"/>
                    <xsd:element name="PersonId" type="xsd:string"/>
                    <xsd:element name="Image">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Id" type="xsd:string"/>
                          <xsd:element name="Small" type="xsd:string"/>
                          <xsd:element name="Medium" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="Price">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute name="currency" type="xsd:string"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="PriceLabel">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="FixedPrice" type="xsd:string"/>
                          <xsd:element name="SalePrice" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="taxIncluded" type="xsd:string"/>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Point">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Amount" type="xsd:string"/>
                          <xsd:element name="Times" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Shipping">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Code" type="xsd:string"/>
                          <xsd:element name="Name" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="CategoryIdPath">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Category" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Id" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Brands">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name" type="xsd:string"/>
                          <xsd:element name="Path">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Brand" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Id" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="JAN" type="xsd:string"/>
                    <xsd:element name="ISBN" type="xsd:string"/>
                    <xsd:element name="Store">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Id" type="xsd:string"/>
                          <xsd:element name="Name" type="xsd:string"/>
                          <xsd:element name="Url" type="xsd:string"/>
                          <xsd:element name="Payment">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Method" minOccurs="0" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Code" type="xsd:string"/>
                                      <xsd:element name="Name" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="IsBestStore" type="xsd:string"/>
                          <xsd:element name="Ratings">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Rate" type="xsd:string"/>
                                <xsd:element name="Count" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Image">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="Id" type="xsd:string"/>
                                <xsd:element name="Medium" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="index" type="xsd:string"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="totalResultsAvailable" type="xsd:string"/>
            <xsd:attribute name="firstResultPosition" type="xsd:string"/>
            <xsd:attribute name="totalResultsReturned" type="xsd:string"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>